* {
    box-sizing: border-box;
    padding: 0;
}
body {
    background-color: #d9dcd6;
    margin: 0;
}
/*header section starts*/
.header {
    padding: 5px; /*padded header*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header h1 .seo {
    color: #d9dcd6;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header nav ul {
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}
/*header section ends*/

/*hero section begins*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*hero section ends*/

/*overview section begins*/
.combined-service-benefits{
    margin: 30px 30px 30px 30px;
}
/*overview section ends*/

/*services section begins*/
.services{
    width: 100%;
    float: left;
}
.scontent{
    padding: 20px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    width: 75%;
    display: inline-block;
    overflow: auto;
}
.scontent img{
    float: left;
    max-height: 200px;
    padding-right: 2%;
}
.scontent h2{
    margin-bottom: 20px;
    font-size: 36px;
}
.scontent-bio {
    padding: 30px;
    float: left;
    width: 65%;
}
.text-left {
    text-align: left;
}
/*services section ends*/

/*benefits section starts*/
.benefits{
    overflow: hidden; /*how do I get this section to align higher?!!!*/
    width: 20%;
    height: 100%;
    float: right;
    display: inline;
} 
.bcontent{
    margin: 0;
    clear:both;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*benefits section ends*/

/*footer section start*/
.footer {
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
/*footer style ends*/